<div class="card">
  <ul class="list-group list-group-flush">
    <%= link_to "Dashboard", root_path, class: "list-group-item" %>
    <%= link_to "Contribuições", payments_path, class: "list-group-item" %>
  </ul>
</div>
