<div class="card">
  <ul class="list-group list-group-flush">
    <%= link_to "Dashboard", user_path(current_user), class: "list-group-item" %>
    <%= link_to "Pagamentos", payments_path, class: "list-group-item" %>
    <%= link_to "Mentores", mentors_path, class: "list-group-item" %>
  </ul>
</div>
