<% @tag_title = "Mentores" %>
<% @tag_subtitle = "Conheça outros mentores engajados no fundo" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody>
    <% 7.times do |i| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td>Mark</td>
      <td>Rio de Janeiro</td>
      <td>+55 21 97287-2783</td>
    </tr>

    <% end %>
  </tbody>
</table>
