<% @tag_title = "Contribuições" %>
<% @tag_subtitle = "Acompanhe aqui seu histórico de contribuições" %>

<%= link_to "Nova contribuição", new_payment_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Valor</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    <tr>
      <th scope="row"><%= payment.id %></th>
      <td><%= format_currency payment.value %></td>
      <td><%= payment.created_at %></td>
    </tr>

    <% end %>
  </tbody>
</table>
