<% @tag_title = "Pagamentos" %>
<% @tag_subtitle = "Acompanhe aqui seu histórico de pagamentos" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <% 4.times do %>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

    <% end %>
  </tbody>
</table>
