#error_explanation
  color: #a51010
  h2
    font-size: 1rem
.full-height
  height: 100vh

.login-form
  text-align: left
  margin: 20% 10%
  color: #747474
  font-family: Open Sans
  img.login-form-logo
    max-width: 30%
    max-height: 40%
  input
    border: none
    border-bottom: 1px solid #D1D1D1
    padding-left: 1px
    .form-control
      font-size: auto
    &[type='submit']
      background-color: #00C1FF
      text-transform: uppercase
      padding: 10px 20px
      font-weight: bold
      display: inline
  p
    margin: 25px 0px
    width: 85%

@media only screen and (min-width: 1000px)
  .login-form
    margin: 30% 25% 20% 25%


.login-art
  background-image: asset-url('login-bkg.png')
  background-size: cover
  h1
    font-weight: bold
    font-size: 17rem
    color: #FFFFFF
    position: absolute
    right: 12%
    bottom: 0px

.alert
  margin: 0
  .close
    top: 15%
    right: 10px
    padding: 0px
    font-size: 1.5em